.vs-code-top-bar {
  background-color: rgb(60, 60, 60);
  height: 37px;
  color: rgb(204, 204, 204);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px 0 20px;
}

.neo-brutalism-top-bar {
  background-color: #fff;
  height: 37px;
  color: rgb(204, 204, 204);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px 0 20px;
  border-bottom: 1px solid black;
}

.top-bar-submenu-item {
  cursor: pointer;
  font-size: 20px;
}

.top-bar-submenu-item:hover {
  background-color: rgba(30, 30, 30);
}

nav ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

.neo-brutalism-nav {
  padding: 0;
  margin: 0;
  list-style: none;
  background-color: #fff;
}

ul li {
  display: inline-block;
  background-color: rgb(60, 60, 60);
}

.neo-brutalism-ul {
  background-color: white;
  display: inline-block;
  color: black;
}

.neo-brutalism-li {
  display: inline-block;
  background-color: white;
  color:black;
}


nav a {
  display: block;
  padding: 0 10px;
  color: #fff;
  font-size: 20px;
  text-decoration: none;
}

.neo-brutalism-a{
  display: block;
  padding: 0 10px;
  color: #000;
  font-size: 20px;
  text-decoration: none;
}

nav a:hover {
  background-color: #000000;
}

.neo-brutalism-a:hover{
  background-color:lightgrey;
}

/* Hide Dropdowns by Default */
nav ul ul {
  display: none;
  position: absolute;
}

/* Display Dropdowns on Hover */
nav ul li:hover > ul {
  display: inherit;
}

/* Fisrt Tier Dropdown */
nav ul ul li {
  width: 250px;
  float: none;
  display: list-item;
  position: relative;
}

/* Second, Third and more Tiers	*/
nav ul ul ul li {
  position: relative;
}

li > a:only-child:after {
  content: "";
}
